---
import FormattedDate from '@components/FormattedDate.astro';
import Project from '@components/Project.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

import chug_league from '@images/chug-league.jpg';
const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 4);
---

<BaseLayout title='Home' description='Welcome to the Ethrdome.'>
	<h1>Ethan Morris</h1>
	<p class='byline'>Developer at <a href='https://centralstatesmarketing.com'>Central States Marketing</a></p>
	<p>My passions lie in building (and occasionally breaking) things, solving problems, and being a lifelong learner.</p>


	<h2>Featured Projects</h2>
	<div class='gallery'>
		<ul class='wrapper'>
			<li>
				<Project
					title='Fantasy Football League Website'
					image={chug_league}
					link='https://chug-official.vercel.app'
					code='https://github.com/ethrmor/chug-official/'
					height='1080'
					width='1920'
					alt='Image'
					loading='eager'
				/>
			</li>
			<li>
				<Project
					title='Fantasy Football League Website'
					image={chug_league}
					link='https://chug-official.vercel.app'
					height='1080'
					width='1920'
					alt='Image'
				/>
			</li>
			<li>
				<Project
					title='Fantasy Football League Website'
					image={chug_league}
					link='https://chug-official.vercel.app'
					height='1080'
					width='1920'
					alt='Image'
				/>
			</li>
			<li>
				<Project
					title='Fantasy Football League Website'
					image={chug_league}
					link='https://chug-official.vercel.app'
					height='1080'
					width='1920'
					alt='Image'
				/>
			</li>
		</ul>
	</div>

	<h2>About Me</h2>
	<p>Hi, I'm Ethan! Thanks for coming to my little corner of the internet.</p>
	<p>I'm a software developer with a passion for building websites and web applications. I've been writing code professionally for more than 3 years, but my experience in building websites extends back more than 20 years.</p>

	<a href='/about'>More about me</a>

	<h2>Latest Posts</h2>

	<ul class='posts'>
		{
			posts.map((post) => (
				<li class='post-link'>
					<a href={`/blog/${post.slug}/`}>
						<FormattedDate date={post.data.pubDate} />
						<h3>{post.data.title}</h3>
					</a>
				</li>
			))
		}
	</ul>

	<a href='/blog'>View all posts</a>
</BaseLayout>

<style>
	h1 {
		margin-block: 2rem 0;
	}
	h2 {
		margin-block-start: 2rem;
	}
	h3 {
		margin-block-start: 0.5rem;
	}
	span {
		font-size: var(--fs-sm);
		font-weight: 400;
	}
	p:has(em) {
		margin-block-end: .5rem;
	}
	.byline {
		color: oklch(var(--gray-50));
	}

	.feature {
		margin: 0;
		border: 2px solid oklch(var(--accent));
		border-radius: 1rem;
		background-color: oklch(var(--accent)) / 20%);
		padding: 1rem;
		list-style: none;
	}
	.gallery {
		display: grid;
		grid-template-columns: inherit;
		grid-column: full;
		margin-block-end: 1rem;
		overflow-x: scroll;
		overscroll-behavior-x: contain;
		scroll-snap-type: x proximity;
		scrollbar-width: none;
	}

	.gallery::-webkit-scrollbar {
		display: none;
		inline-size: 0 !important;
	}

	.gallery .wrapper {
		display: flex;
		grid-column: content;
		align-items: center;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.gallery .wrapper > li {
		display: flex;
		flex: 1 0 90%;
		justify-content: center;
		align-items: start;
		width: min(90%, 60ch);
	}

	.gallery .wrapper > li:not(:last-child) {
		margin-inline-end: 1rem;
	}

	.gallery .wrapper::after {
		align-self: stretch;
		padding-inline-end: max(var(--grid-gap),(100vw - var(--grid-content)) / 2 + (var(--grid-gap) / 2));
		content: '';
	}
	.posts {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.post-link {
		margin-block-end: 1rem;
	}
	.post-link a {
		display: block;
		color: oklch(var(--black));
		text-decoration: none;
	}
	.post-link h3 {
		margin: 0;
	}
	.post-link a:hover h3 {
		color: oklch(var(--accent));
	}
</style>
