---
import { Image } from 'astro:assets';

const { title, image, code_link, live_link, link, height, width, alt } = Astro.props;
---

<h3>{title}</h3>
<a href={link}><Image src={image} height={height} width={width} alt={alt} /></a>
<div class="links">
  <a href={live_link}>Live Site</a><a href={code_link}
    >View Code</a
  >
</div>

<style>
  h3 {
    font-size: var(--fs-md);
  }
  img {
    aspect-ratio: 16/9;
  }
  .links {
    display: flex;
  }
  .links a {
    padding-inline: 0 1.5rem;
    padding-block: .25rem;
  }
</style>
