---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<article class='full prose'>
		<div class='title'>
			<div class='date'>
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class='last-updated-on'>
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
			<h1>{title}</h1>
		</div>
		<slot />
	</article>
</BaseLayout>

<style>
	.hero-image {
		width: 100%;
	}
	.hero-image img {
		display: block;
		margin: 0 auto 2rem;
		box-shadow: var(--box-shadow);
		border-radius: 12px;
	}
	.prose {
		color: var(--black);
	}
	.title h1 {
		margin: 0 0 0.5em 0;
	}
	.date {
		margin-bottom: 0.5em;
		color: rgb(var(--gray));
	}
	.last-updated-on {
		font-style: italic;
	}
	.tags {
		display: flex;
		flex-wrap: wrap;
	}
</style>
