---
import Tag from '@components/Tag.astro';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<article class='full prose'>
		<div class='title'>
			<h1>{title}</h1>
			<div class='date'>
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class='last-updated-on'>
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
				<span>·</span>
				<span class='time-to-read'>8 min read</span>
			</div>
			<div>{tags && tags.map((tag) => <Tag href={`/blog/tags/${tag}`} name={tag} />)}</div>
		</div>
		<slot />
	</article>
</BaseLayout>

<style>
	.hero-image {
		width: 100%;
	}
	.hero-image img {
		display: block;
		margin: 0 auto 2rem;
		box-shadow: var(--box-shadow);
		border-radius: 12px;
	}
	.prose {
		color: var(--black);
	}
	.title h1 {
		margin: 0 0 0.5em 0;
	}
	.date {
		margin-bottom: 0.5em;
		color: rgb(var(--gray));
	}
	.last-updated-on {
		font-style: italic;
	}
	.time-to-read {
		display: inline-block;
		font-size: var(--fs-sm);
	}
	.tags {
		display: flex;
		flex-wrap: wrap;
	}
</style>
